<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="{{ url_for('auth.login') }}"><img src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="Logo" srcset=""></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">{% for sidebarItem in sidebarItems %}{% if sidebarItem.isTitle %}
            <li class="sidebar-title">{{sidebarItem.name}}</li>
            {% else %}
            <li
                class="sidebar-item {{ 'active' if (sidebarItem.filename == filename )}}">
                <a href="{{ url_for(sidebarItem.url,username = name)}}" class='sidebar-link'>
                    <i class="bi bi-{{ sidebarItem.icon }}"></i>
                    <span>{{sidebarItem.name}}</span>
                </a>
            </li>
            {% endif %}{% endfor %}
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>