{% set title = 'Dashboard' %}
{% set filename = 'admin_records.html' %}

{% extends 'layouts/master.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="page-heading" style="float: left;width: 90%;">
        <h3>Hello! admin {{name}}!</h3>
    </div>
    <div class="page-heading" style="float: left; width: 10%;">
        <button class="btn btn-primary btn-block"><a href="{{ url_for('auth.logout',username = name) }}" class="btn btn-primary btn-block">Logout</a></button>
    </div>
</div>
<div class="page-content">
        <div class="col-12">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 style="float: left; width: 85%;">所有医生信息</h4>
                        <button class="btn btn-primary" style="float: left; width: 15%;"><a href="{{ url_for('admin.admin',username = name) }}" class="btn btn-primary btn-block">修改医生信息</a></button>
                    </div>
                        
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-lg">
                                <thead>
                                    <tr>
                                        <th>病历编号</th>
                                        <th>患者编号</th>
                                        <th>医生编号</th>
                                        <th>日期</th>
                                        <th>患者体温</th>
                                        <th>主诉</th>
                                        <th>现病史</th>
                                        <th>既往史</th>
                                        <th>过敏史</th>
                                        <th>发病时间</th>
                                        <th>当前治疗手段</th>
                                        <th>评估诊断</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in records %}
                                    {% if hav != 0 %}
                                        <tr>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[0]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[1]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[2]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[3]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[4]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[5]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[6]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[7]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[8]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[9]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[10]}}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0">{{record[11]}}</p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
{% endblock %}