{% set title = 'Dashboard' %}
{% set filename = 'chief_doctor_change_working.html' %}

{% extends 'layouts/masterforworking.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block headscripts %}

{% endblock %}

{% block content %}
<div>
    <div class="page-heading" >
        <h3>输入资料</h3>
    </div>
</div>
<div class="page-content">
        <div class="col-12  ">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 style="float: left; width: 85%;">输入资料</h4>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">姓名</label>
                                        <input type="text" class="form-control" id="name" name="name" >
                                    </div>
                                    <div class="form-group">
                                        <label for="school">毕业学校</label>
                                        <small class="text-muted">eg.<i>北京大学</i></small>
                                        <input type="text" class="form-control" id="school" name="school" >
                                    </div>
                                    <div class="form-group">
                                        <label for="title">技术职称</label>
                                        <small class="text-muted">eg.<i>外科</i></small>
                                        <input type="text" class="form-control" id="title" name="title" >
                                    </div>
                                    <div class="form-group">
                                        <label for="specialty">专业特长</label>
                                        <small class="text-muted">eg.<i>手术</i></small>
                                        <input type="text" class="form-control" id="specialty" name="specialty" >
                                    </div>
                                    <div class="form-group">
                                        <label for="degree">学位</label>
                                        <small class="text-muted">eg.<i>硕士</i></small>
                                        <input type="text" class="form-control" id="degree" name="degree" >
                                    </div>

                                    <div class="form-group">
                                        <label for="username">用户名</label>
                                        <input type="text" id="username" class="form-control" name="username" >
                                    </div>
                                    <button type = "submit" style="width: 50%" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">新增</button>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gender">性别</label>
                                        <input type="text" class="form-control" id="gender" name="gender" >
                                    </div>
                                    <div class="form-group">
                                        <label for="passport">身份证号</label>
                                        <input type="text" class="form-control" id="passport" name="passport" >
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">电话</label>
                                        <input type="text" class="form-control" id="phone" name="phone" >
                                    </div>

                                    <div class="form-group">
                                        <label for="email">电邮</label>
                                        <input type="text" class="form-control" id="email" name="email" >
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">密码</label>
                                        <input type="text" id="pwd" class="form-control" name="pwd">
                                    </div>
                                    <div class="form-group">
                                        <label for="userText">重覆密码</label>
                                        <input type="text" id="repwd" class="form-control" name="repwd">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
<script>
    String.prototype.format = function (){
            let args = Array.prototype.slice.call(arguments);
            let count=0;
            return this.replace(/%s/g, function (s,i){
                return args[count++];
            });
        }
</script>
{% endblock %}