{% set title = 'Dashboard' %}
{% set filename = 'patient_add_appointments.html' %}

{% extends 'layouts/master.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block headscripts %}
    <script>
        function myclick(obj){
            iid = obj.id
            nname = obj.text
            document.getElementById("dropdownMenuButton").innerHTML = nname
            document.getElementById("dropdownMenuButton").value = 1
            if(document.getElementById("date").value == "") {
                return
            }
            showcontext()
        }

    </script>

{% endblock %}

{% block content %}
<div>
    <div class="page-heading" style="float: left;width: 90%;">
        <h3>Hello! patient {{name}}!</h3>
    </div>
    <div class="page-heading" style="float: left; width: 10%;">
        <button class="btn btn-primary btn-block"><a href="{{ url_for('auth.logout',username = name) }}" class="btn btn-primary btn-block">Logout</a></button>
    </div>
</div>
<div class="page-content">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4>新增预约</h4>
            </div>
            <div id="cardbody" class="card-body">
                <input class="alert alert-secondary" style=";margin-left: 2%; height: 35px;width: 300px" id="date" type="date" value="">
                    <div style="margin-left: 10%" class="btn-group mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle me-1" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" value="">
                                Primary
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" value="外科" id="dep" onclick=myclick(this)>外科</a>
                                <a class="dropdown-item" value="內科" id="dep" onclick=myclick(this)>内科</a>
                            </div>
                        </div>
                    </div>
                <div id="context" class="table-responsive">

                </div>
            </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
    <script>

        String.prototype.format = function (){
            let args = Array.prototype.slice.call(arguments);
            let count=0;
            return this.replace(/%s/g, function (s,i){
                return args[count++];
            });
        }

        document.getElementById("date").addEventListener("input", myFunction);
        function myFunction(){
            ddate = document.getElementById("date").value
            //console.log(ddate)
            if(document.getElementById("dropdownMenuButton").value == "")return
            //console.log(val)
            showcontext()
        }

        function showcontext(){
            ddate = document.getElementById("date").value
            sspecialty = document.getElementById("dropdownMenuButton").textContent
            test = {{ appointments | safe}}
            ssum = {{ sum }}
            temp = ddate + ',' + sspecialty

            document.getElementById("context").innerHTML =
                `<table class="table table-hover table-lg">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>医生</th>
                            <th>剩余预约名额</th>
                            <th>按此预约</th>
                        </tr>
                    </thead>
                    <tbody id="ttbody">
                    </tbody>
                </table>`
            let contt = ""
            for(let i=0;i<test[temp].length;i++){
                //console.log(test[temp][i][0],test[temp][i][1])
                contt +=
                    `<tr>
                        <td class="col-3">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-md">
                                    <img src="{{ url_for('static', filename='images/faces/5.jpg') }}">
                                </div>
                                <p class="font-bold ms-3 mb-0">%s</p>
                            </div>
                        </td>
                        <td class="col-auto">
                            <p class=" mb-0">%s</p>
                        </td>
                        <td class="col-auto">
                            <p class=" mb-0">%s</p>
                        </td>
                    </tr>`.format(ddate,test[temp][i][0],ssum - test[temp][i][1])

                document.getElementById('ttbody').innerHTML = contt
            }
        }
    </script>
{% endblock %}