{% set title = 'Dashboard' %}
{% set filename = 'patient_bill_working.html' %}

{% extends 'layouts/masterforworking.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
{% endblock %}

{% block headscripts %}
    <script>
        function myclick(obj){
            meddic = {{ meddic | safe }}
            document.getElementById("dropdownMenuButton").innerHTML = meddic[obj.id]
            document.getElementById("medid").value = obj.id
        }
    </script>
{% endblock %}

{% block content %}
<div>
    <div class="page-heading" >
        <h3>正在处理 {{billid}}</h3>
    </div>
</div>
<div class="page-content">
        <div class="col-12  ">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 style="float: left; width: 85%;">订单详请</h4>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="alert alert-light">
                                        <h4 class="alert-heading">订单日期</h4>
                                        <p>{{ billdic[1] }}</p>
                                    </div>
                                    <div class="alert alert-light">
                                        <h4 class="alert-heading">科室</h4>
                                        <p>{{ billdic[3] }}</p>
                                    </div>
                                    <div class="alert alert-light">
                                        <h4 class="alert-heading">医生</h4>
                                        <p>{{ billdic[2] }}</p>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="alert alert-light">
                                        <h4 class="alert-heading">药品</h4>
                                        <p>{{ billdic[4] }}</p>
                                    </div>
                                    <div class="alert alert-light">
                                        <h4 class="alert-heading">单价</h4>
                                        <p>{{ billdic[5] }}</p>
                                    </div>
                                    <div class="alert alert-light">
                                        <h4 class="alert-heading">总价</h4>
                                        <p>{{ billdic[0] }}</p>
                                    </div>

                                </div>
                            </div>
                            <button type = "submit" style="width: 50%" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">确认缴费</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
<script>
    String.prototype.format = function (){
            let args = Array.prototype.slice.call(arguments);
            let count=0;
            return this.replace(/%s/g, function (s,i){
                return args[count++];
            });
        }
</script>
{% endblock %}